body {
    color: #292929;
    background-color: #f7f7f7;
    font-family:"News Cycle";
}
header {
    text-align: center;
    padding-top: 30px
}
h1{
    color: #292929;
    font-family:"News Cycle";
}
nav a {
    color: #292929;
    text-decoration: none;
    display: inline-flexbox;
    font-size: 20px;
    padding: 20px;
    margin-left: 50px;
}
nav a:hover {
    text-decoration: underline;
    color: #292929;
    
}
#valittu {
    font-weight: bold;
}


/*Alatunniste, sama joka sivulla*/
footer{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;

}

/* Someikonit */
.fa {
    background: #f7f7f7;
    color: #576b5a;
    padding: 10px;
    text-decoration: none;
  }

/*suuri näyttö*/
@media screen and (min-width: 1200px) {
    h1 {
        background-image: url(kattely.jpg);
        background-size: cover;
        height: 600px;
        width: auto;
        padding-top: 100px;
    }

    #slogan {
        font-size: 40px;
        text-align: center;
        padding-top: 150px;

    }
    .toimintakehote {
        font-size: 18px;
        color: #f7f7f7;
        text-align: center;
        border: #576b5a solid;
        background-color: #576b5a;
        text-decoration: none;
        margin: 10px;
    }
}
