body {
    color: #292929;
    background-color: #f7f7f7;
}

@font-face {
    font-family: News Cycle;
    src: url(NewsCycle-Regular.ttf);
}
header {
    font-family: News Cycle;
    text-align: center;
    padding-top: 20px;
    margin-right: 10%;   
}

nav a {
    font-family: News Cycle;
    color: #292929;
    text-decoration: none;
    display: inline;
    font-size: 20px;
    padding: 20px;
}
nav a:hover {
    text-decoration: underline;
    color: #292929;
    
}
#valittu {
    font-weight: bold;
}

h1{
    font-family: News Cycle;
    color: #292929;
    font-weight: bold;
}
h2, h3{
    font-family: News Cycle;
    font-size: 25px;
    color: #292929;
}
p {
    font-family: News Cycle;
    color: #292929;
}

.toimintakehote {
    font-family: News Cycle;
    font-size: 18px;
    color: #f7f7f7;
    text-align: center;
    border: #576b5a solid;
    background-color: #576b5a;
    text-decoration: none;
    padding: 10px;
}

.toimintakehote:hover {
    color: #576b5a;
    background-color: #f7f7f7;
}

/*pääsivun asettelu*/
.container{
    display: flex;
    padding-left: 30px;
}
.teksti{
    flex: 1;
}
.kuva{
    flex: 1;
    padding-top: 10px;
}

#väliotsikko {
    text-align: center;
    padding-top: 0%;
}
#laatikko {
    color: #f7f7f7;
    text-align: center;
}
.outer-box {
    display: flex;
    flex-direction: column;
    border: 2px solid #576b5a;
    background-color: #576b5a;
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
}
.inner-box {
    border: 3px solid #f7f7f7;
    background-color: #576b5a;
    padding: 20px;
}
.asettelu {
    display: flex;
    padding: 20px;
    padding-top: 40px;
    gap: 20px;
}
#pullat {
    flex: 1;
}
#tartu {
    flex: 1;
    font-size: 18px;
    text-align: center;
    border: 2px solid #292929;
    padding: 20px;
    margin: auto;
}

#tästä {
    color: #292929;
    text-decoration: none;
    font-weight: bold;
}    

/*Alatunniste, sama joka sivulla*/
footer{
    font-family: News Cycle;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

/* Someikonit */
.fa {
    background: #f7f7f7;
    color: #576b5a;
    padding: 10px;
    text-decoration: none;
  }

/*mobiilikoko*/
@media (max-width: 600px) {
    nav a {
        font-size: 14px;
        display: flex;
        flex-direction: row;
    }
    h1 {
        font-family: News Cycle;
        color: #292929;
        background-image: url(kattely-mobiili.jpg);
        background-size: cover;
        height: 200px;
        width: auto;
        padding-top: 100px;
    }
    #slogan {
        font-size: 20px;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .toimintakehote {
        font-size: 14px;
    }
}
  

/*suuri näyttö*/
@media screen and (min-width: 1200px) {
    h1 {
        font-family: News Cycle;
        color: #292929;
        background-image: url(kattely.jpg);
        background-size: cover;
        height: 400px;
        width: auto;
        padding-top: 100px;
    }

    #slogan {
        font-size: 40px;
        text-align: center;
        padding-top: 150px;

    }

}