body {
    color: #292929;
    background-color: #f7f7f7;
    font-family:"News Cycle";
}
header {
    text-align: center;
    padding-top: 30px
}
h1{
    color: #292929;
    font-family:"News Cycle";
}
nav a {
    color: #292929;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; 
        width: 100px;
        height: 25px;
        padding: 10px;
        margin:5px 20px;
}
nav a:hover {
    text-decoration: underline;
    color: #292929;
    
}
#valittu {
    font-weight: bold;
}

/*Alatunniste, sama joka sivulla*/
footer{
    font-size: 17px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 1px; 
    background-color: #292929; 

}

/* Someikonit */
.fa {
    background: #f7f7f7;
    color: #576b5a;
    font-size: 50px;
    text-decoration: none;
  }
